*
!/.gitignore
!/ftp-tv-app
!/ftp-tv-app/**
/ftp-tv-app/.gradle/
/ftp-tv-app/build/
/ftp-tv-app/**/build/
/ftp-tv-app/local.properties
*.apk
*.ap_
*.aab
*.jar
*.class
local.properties
.gradle/
build/
.idea/
*.iml
.DS_Store
